extends layout

block content
    section.profile-section
    .profile-text
        h1 Chef Boni
        p Culinary Expert & Trainer

        //- Academic Excellence
        .profile-category
            h3 Academic Excellence
            ul
                li Bachelor's Degree in Culinary Arts - Culinary Institute of Excellence
                li Master's Degree in International Cuisine - Gastronomy University
                li Certified Professional Chef - Culinary Academy

        //- Achievements
        .profile-category
            h3 Achievements
            ul
                li Winner of the Golden Chef Hat Award - International Culinary Competition
                li Featured in "Top Chefs of the Year" magazine
                li Best-Selling Author of "The Art of Culinary Creations"

        //- Work Experience
        .profile-category
            h3 Work Experience
            ul
                li Head Chef - Gourmet Delights Restaurant
                li Executive Chef - Culinary Masterpieces Hotel
                li Culinary Instructor - Epicurean Culinary School

    .profile-image
        img(src="images/chef-boni.png", alt="Chef Boni")
